.App-header {
  text-align: center;
  padding: 1em;
}

.bio {
  column-count: 2;
}

@media screen and (max-width: 820px) {
    .bio {
        column-count: 1;
    }
}

.subheader {
  width: max-content;
}

body {
  text-align: left;
}

hr {
  color: #fffffe;
  background-color: #fffffe;
  height: 0.1em;
}

h1 {
  white-space: pre-line;
  font-family: "futura-bold";
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 3em;
  color: #fffffe;
}

h2 {
  font-family: "futura-medium";
  text-transform: lowercase;
  letter-spacing: 0.2rem;
  font-size: 38px;
  color: #fffffe;
}

.shadow {
  max-width: max-content;
  background-color: #f25042;
}

h3 {
  font-family: "futura-bold";
  letter-spacing: 0.5;
  font-size: 28px;
  color: #fffffe;
}

h4 {
  font-family: "futura-bold";
  letter-spacing: 0.5;
  font-size: 21px;
  color: #fffffe;
}

h5 {
  font-family: "futura-book";
  letter-spacing: 0.5;
  font-size: 28px;
  color: #fffffe;
}

h6 {
  font-family: "futura-bold";
  text-transform: uppercase;
  letter-spacing: 1.25;
  font-size: 28px;
  color: #fffffe;
}

p {
  font-family: "futura-book";
  font-size: 18px;
  line-height: 27px;
  color: #94a1b2;
}
