

.App-header {
    padding: 1em;
}

h1 {
    font-family: 'futura-bold';
    text-transform: uppercase;
    letter-spacing: 0.5vw;
    font-size: 50px;
    color: #0d0d0d;
}

h2 {
    font-family: 'futura-medium';
    text-transform: lowercase;
    letter-spacing: 0.75vw;
    font-size: 38px;
    color: #0d0d0d;
}

.shadow {
    max-width: max-content;
    background-color: #f25042;
}

h3 {
    font-family: 'futura-bold';
    letter-spacing: 0.5vw;
    font-size: 28px;
    color: #0d0d0d;
}

h4 {
    font-family: 'futura-bold';
    letter-spacing: 0.5vw;
    font-size: 21px;
    color: #0d0d0d;
}

h5 {
    font-family: 'futura-book';
    letter-spacing: 0.5vw;
    font-size: 28px;
    color: #0d0d0d;
}

h6 {
    font-family: 'futura-bold';
    text-transform: uppercase;
    letter-spacing: 1.25vw;
    font-size: 28px;
    color: #0d0d0d;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: #2a2a2a;
}