html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'SpaceMono-Regular';
  src: local('SpaceMono-Regular') url(./Fonts/SpaceMono-Regular.ttf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'SpaceGrotesk-Bold';
  src: local('SpaceGrotesk-Bold') url(./Fonts/SpaceGrotesk-Bold.otf) format('opentype');
  font-display: swap;
}
