@font-face {
  font-family: 'space-grotesk-bold';
  src: local('SpaceGrotesk-Bold') url(./fonts/SpaceGrotesk-Bold.otf) format('otf');
}

@font-face {
  font-family: 'space-mono-regular';
  src: local('SpaceMono-Regular') url(./fonts/SpaceMono-Regular.ttf) format('ttf');
}